header{
    padding: 30px 0px;
    border-bottom: 1px solid black;
    margin-bottom: 100px;
}
.nav-ul{
    text-align: center;
}
.nav-li{
    display: inline-block;
}
a{
    color:black;
}
.nav-a{
    font-size: 18px;
    line-height: 27px;
}
.nav-li.middle{
    margin:0px 66px;
}
section.main-section{
    display: inline-block;
}
.central-main{
    text-align: center;
}
.main-section.middle{
    margin:0 105px;
}
.box-top-wrapper{
    border: 1px solid black;
    padding: 11px 11px 0 11px;
}
.article-under-photo{
    margin: 25px 0 25px 10px;
    text-align: left;
}
h4{
    margin-bottom: 20px;
}
.box-bottom-wrapper{
    text-align:right;
    margin-top: 23px;
    border-radius: 4px;
}
.secondary-title{
    font-size: 40px;
    text-align: center;
    margin-bottom: 117px;
}
.secondary-info{
    margin-left:175px;
    font-size: 25px;
    width: 775px;
    line-height: 37.5px;
}
.secondary-address{
    margin-top: 108px;
}
.secondary-info .middle{
    margin: 28px 0;
}